body {
	height: 100%;
	background-color: #eee;
	font-size: 20px;
}
:root {
	--color-main: #235ad1;
	--color-display: #1d1d1d;
	--color-buttons: #f4f4f4;
	--color-button-hover: #d83e33;
	--color-button-text: #666666;
	--color-text: #fff;
	--color-button-operation-hover: #ff6a00;
	--color-button-number-hover: #008000;
	--color-border-button: #808080;
}
.container {
	margin: 20px auto;
}

.calc {
	background-color: var(--color-main);
	width: 385px;
	padding: 30px;
	border-radius: 6px;
}

.calc-display-input {
	width: 360px;
	height: 60px;
	margin: 20px 0;
	border-radius: 6px;
	background-color: var(--color-display);
	color: var(--color-text);
	text-align: right;
	font-size: 35px;
	padding: 10px;
}

.calc-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}
.btn {
	width: 85px;
	height: 60px;
	background-color: var(--color-buttons);
	font-size: 27px;
	color: var(--color-button-text);
	text-transform: uppercase;
	border-radius: 6px;
	padding: 0;
	cursor: pointer;
	transition: 0.1s all;
}
.btn-hover-red:hover {
	background-color: var(--color-button-hover);
	color: var(--color-text);
}

.btn-hover-orange:hover {
	background-color: var(--color-button-operation-hover);
	color: var(--color-text);
}

.btn-hover-green:hover {
	background-color: var(--color-button-number-hover);
	color: var(--color-text);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 1px #ccc;
}
.btn-long {
	width: 183px;
}
.calc-buttons-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 288px;
}

.btn-equal {
	height: 140px;
}
input,
button {
	padding: 5px 15px;
	border: 1px solid var(--color-border-button);
	border-radius: 4px;
}

button {
	margin: 10px 10px 10px 0;
}

@media screen and (max-width: 768px) {
	.calc {
		width: 300px;
		margin: 0 auto;
	}
	.calc-display-input {
		width: 280px;
	}

	input[placeholder] {
		font-size: 28px;
	}
	input::-moz-placeholder {
		font-size: 28px;
	}
	input:-moz-placeholder {
		font-size: 28px;
	}
	input:-ms-input-placeholder {
		font-size: 28px;
	}

	.btn {
		width: 64px;
	}
	.btn-long {
		width: 140px;
	}
	.calc-buttons-wrapper {
		width: 224px;
	}
}
@media screen and (max-width: 375px) {
	.calc {
		width: 220px;
	}
	.calc-display-input {
		width: 200px;
	}
	.btn {
		width: 44px;
	}
	.btn-long {
		width: 102px;
	}
	.calc-buttons-wrapper {
		width: 166px;
	}
}
